.msf_multiselect_container .msf_multiselect {
  border: 1px solid #e4e4e4;
  list-style-type:none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 240;
}
.msf_multiselect li:hover, .sb_multiselect li:active, .sb_multiselect li:focus{
  background-color: #e5e5e5;
}
.msf_multiselect li.active{
  background-color: #e5e5e5;
}
.msf_multiselect li{
  padding-left: 4px;
  background-color: #ffffff;
  cursor: pointer;
}
.msf_multiselect_container textarea{
  resize: none;
  padding-left: 2px;
  padding-top: 2px;
  overflow: auto;
}
.msf_multiselect_container .msf_multiselect{
  max-height: 200px;
  overflow: auto;
  background-color: white;
  display: grid;
  text-align: left;
}
.msf_multiselect label{
  display: block;
  margin-bottom: 1px;
}
/* v2 css here */
.selectedLabels {
  padding: 1px 10px 1px 8px;
  background: burlywood;
  border: 2px solid burlywood;
  border-radius: 25px;
  display: inline-block;
}
.closeBtn {
  padding-left: 5px;
  border-radius: 50%;
  border: 1px solid darkgoldenrod;
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.searchbox {
  padding: 0;
}
.logger {
  border: 1px solid;
  display: inherit;
  cursor: pointer;
}
.logger.open {
  border-bottom: 0;
}
